@import url("font/stylesheet.css");
body {
	font-family: sans-serif;
}

header {
	text-align: center;
}

form {
	float: left;
	margin:30px;
}

textarea {
	min-width:300px;
	min-height: 100px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 10px;
}

.generated {
	font-family: "ITC Korinna", serif;
	font-size: 3em;
	font-weight: bold;
	position: relative;
	background: #1a1b8a;
	color: white;
	text-shadow: 2px 2px 8px black;
	text-align: center;
	vertical-align: middle;
	float: right;
	margin: 50px;
	padding: 20px;
	width: 640px;
	height: 480px;
}

.generated span {
	position:absolute;
	text-align: center;
	text-transform: uppercase;
	top: 50%;
	left: 50%;
	margin-top: -80px; /* that's buillshit */
	margin-left: -320px;
}
